body {
  margin: 0;
  padding: 0;
  background: rgba(119, 121, 121, 0.699);
  color: #fff;
}

.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stopwatch {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-weight: 600;
}

.stopwatch span {
  display: block;
  font-size: 20px;
  background-color: rgba(221, 183, 11, 0.315);
  padding: 1rem;
  margin: 0 5px 0 5px;
  border-radius: 5px;
}

.btns button {
  margin: 0 2px 0 2px;
  padding: 0.5rem;
  width: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: #fff;
  background: rgb(221, 183, 11);
  border: 1px solid grey;
  border-radius: 3px;
}

.btns button:hover {
  background: rgba(221, 183, 11, 0.692);
}


